{% include 'sidebar.html' %}


  <body>
    <title>company/add_product</title>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href='/company/products'>Products</a></li>
          <li class="breadcrumb-item active"><a href=''>Add Product
          </a></li>
        </ol>
      </nav>

      <div class="container center_div">
        
<form action="{{url_for('company_blueprint.company_add_product',company_user_id=company_user_id,category=category,sub_category=sub_category)}}" method='POST' class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend> <center>ADD PRODUCT </center></legend>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
  <div class="col-md-4">
  <input id="name" name="name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
    
  </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" for="product_name">PRODUCT CODE</label>  
    <div class="col-md-4">
    <input id="product_code" name="product_code" placeholder="PRODUCT CODE" class="form-control input-md" required="" type="text">
      
    </div>
  </div>

<!-- Text input-->

<!-- Select Basic -->
<div class="form-group">
 
  <div class="col-md-4">
    <label for="category" class="col-md-4 control-label">CATEGORY</label>
    <select name="category_id" id="category" class="btn btn-secondary dropdown-toggle-secondary">
      {% for c in category %}
      <optgroup label="{{c['category_name']}}" class="btn btn-secondary dropdown-toggle-secondary">
        {% for sb in sub_category %}
        {% if c['category_id']== sb['category_id'] %}
        <option value="{{c['category_id']}}|{{sb['sub_category_id']}}">{{sb['sub_category_name']}}</option>
        {% endif %}
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select> 
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="available_quantity">AMOUNT</label>  
  <div class="col-md-4">
  <input id="available_quantity" name="amount" placeholder="AMOUNT" class="form-control input-md" required="" type="text">
    
  </div>
</div>


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_description" name="description"></textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
    <label class="col-md-4 control-label" for="product_weight">MODEL NUMBER</label>  
    <div class="col-md-4">
    <input id="model_number" name="model_number" placeholder="MODEL NUMBER" class="form-control input-md" required="" type="text">
      
    </div>
  </div>

 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">IMAGE</label>
  <div class="col-md-4">
    <input id="filebutton" name="image" class="form-control input-md" type="text">
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">ADD PRODUCT</button>
    <a href='/company/products'><button type="button" class="btn btn-danger">Cancel</button> </a>

  </div>
  </div>

</fieldset>
</div>
</form>
</main>
</body>
</html>
