{% include 'admin_sidebar.html' %}
<html lang="en">
<head>
    <title>admin/company_products</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}" >

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</head>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<body>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
    <div class="alert alert-{{alert_class}}" role="alert"> {{message}}</div>
   
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href='/admin/companies'>Companies</a></li>
          <li class="breadcrumb-item active" aria-current=""><a href=''>
            {{company.company_name}}
          </a></li>
          <li class="breadcrumb-item"><a href=''>Products</a></li>
        </ol>
      </nav>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b> Products</b></h2></div>
                    <div class="col-sm-4">
                        <a href="">
                        <div class="product">
                
                             </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% if products %}
            <table id="myTable" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr><center>
                        <th>Image</th>
                        <th>Name</th>
                     
                        <th>Amount</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>View</th>
                    </center>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for product in products %}
                    <tr>
                        <td><img width="100" src="{{product.image}}" alt="product.image" /></td>
                        
                        <td>{{product.name}}</td>
                      
                        <td>{{product.amount}}</td>
                        <td>{{product.created_date}}</td>
                        <td>{{product.updated_date}}</td>
                        <td><center>
                            <a href="{{url_for('admin_blueprint.admin_company_view_product',product_id=product.product_id)}}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                            </center></td>
                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            {% else %}
                     <center>
                        <b>NO products </b></center>
                        {% endif %}
                        
          
    </div>  
</div> 
</main>  
</body>
</html>