{% include 'admin_sidebar.html' %}
<html lang="en">
<head>
    <title>admin\orders</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>admin/orders</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}" >

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</head>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<body>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
    <div class="alert alert-{{alert_class}}" role="alert"> {{message}}</div>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Orders</b></h2></div>
                    <div class="col-sm-4">
                        <a href="">
                        <div class="product">
                
                             </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <table id="myTable" class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                    <tr><center>
                        <th scope="col">IMAGE</th>
                        <th scope="col">PRODUCT NAME</th>
                        <th scope="col">USERS</th>
                        <th scope="col">ADDRESS</th>
                        <th scope="col">AMOUNT</th>
                        
                        <th scope="col">ORDER DATE</th>
                    </center>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for order in orders %}
                    <tr>
                        <td><img width="100" src="{{order.image}}" alt="product.image" /></td>
          <td>{{order.name}}</td>
          <td>{{order.username}}
          <td>{{order.street_name}},
            {{order.city}},
            {{order.state}},
            {{order.country}},
            {{order.postal_code}}</td>
           <td> ₹{{order.amount}}</td>
           <td> {{order.created_date}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          
    </div>  
</div> 
</main>  
</body>
</html>