{% include 'admin_sidebar.html' %}
<html lang="en">
<head>
    
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>admin/products</title>
<link rel="stylesheet" href="/home/divya/flask/styles/admin_products.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}" >

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</head>
<style>
    tfoot {
        display: table-header-group;
    }
</style>    
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<body>
    
    <script>
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#myTable tfoot th').each( function (i) {
               
                var title = $('#myTable thead th').eq( $(this).index() ).text();
                $(this).html( '<input type="text" placeholder="'+title+'" data-index="'+i+'" />' );
            } );
          
            // DataTable
            var table = $('#myTable').DataTable( {
                scrollY:        "500px",
                scrollX:        "500px",
                scrollCollapse: true,
                paging:         false,
                fixedColumns:   true
            } );
         
            // Filter event handler
            $( table.table().container() ).on( 'keyup', 'tfoot input', function () {
                table
                    .column( $(this).data('index') )
                    .search( this.value )
                    .draw();
            } );
        } );
    </script>
    <div class="alert alert-{{alert_class}}" role="alert"> {{message}}</div>

   
    
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href='/admin/products'>Products</a></li>
         
        </ol>
    </nav>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b> Products</b></h2></div>
                    <div class="col-sm-4">
                        <a href="">
                        <div class="product">
                
                             </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <table id="myTable" class="table table-striped table-hover table-bordered">
                <thead>
                    <tr><center>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Company Name</th>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>Amount</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Action</th>
                    </center>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for product in products %}
                    <tr>
                        <td><img width="100" src="{{product.image}}" alt="product.image" /></td>
                        <td>{{product.name}}</td>
                        <td>{{product.company_name}}</td>
                        <td>{{product.category_name}}</td>
                        <td>{{product.sub_category_name}}</td>
                        <td>{{product.amount}}</td>
                        <td>{{product.created_date}}</td>
                        <td>{{product.updated_date}}</td>
                        <td><center>
                        <a href="{{url_for('admin_blueprint.admin_view_product',product_id=product.product_id)}}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                        </center></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <center>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Company Name</th>
                            <th>Category</th>
                            <th>Sub Category</th>
                            <th>Amount</th>
                            <th>Created Date</th>
                            <th>Updated Date</th>
                            <th>Action</th>
                        </center>
                        </tr>
                    </tfoot>

            </table>
          
    </div>  
</div> 
</main>  
</body>
</html>