{% include 'sidebar.html' %}


  <body>
    <title>company/edit_product</title>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href='/company/products'>Products</a></li>
          <li class="breadcrumb-item active"><a href=''>
            {{product.name}}
          </a></li>
        </ol>
      </nav>
    <div class="container mt-3">
        <h2>EDIT PRODUCT DETAILS</h2>
        
        <form action="{{url_for('company_blueprint.save_product',product_id=product_id,product=product,category=category,sub_category=sub_category)}}" method='POST'>
          <input type="hidden" name="user_id" value="{{user_id}}">
          <div class="mb-3 mt-3">

            <label for="name">name:</label>
            <input type="name" class="form-control" id="name"  name="name" value="{{product.name}}" >
          </div>
          <div class="mb-3">
            <label for="pwd">product_code:</label>
            <input type="product_code" class="form-control" id="product_code"  name="product_code" value="{{product.product_code}}">
          </div>
          <div class="mb-3">
            <label for="description">description:</label>
            <input type="description" class="form-control" id="description" name="description"  value="{{product.description}}">
          </div>
          <div class="mb-3">
            <label for="image">Image:</label>
            <img width="100" src="{{product.image}}" alt="product.image"/>
            <input type="image" class="form-control" id="image" name="image"  value="{{product.image}}">
          </div>
          <div class="mb-3">
            <label for="amount">Amount:</label>
            <input type="amount" class="form-control" id="amount" name="amount"  value="{{product.amount}}">
          </div>
          <div class="mb-3">
            <label for="model_number">model_number:</label>
            <input type="model_number" class="form-control" id="model_number" name="model_number"  value="{{product.model_number}}">
          </div>
         
          <div class="mb-3">
            <label for="category">Category:</label>
            <select name="category_id" id="category" class="btn btn-secondary dropdown-toggle-secondary">
              {% for c in category %}
              <optgroup label="{{c['category_name']}}">
                {% for sb in sub_category %}
                {% if c['category_id'] == sb['category_id'] %}
                <option value="{{c['category_id']}}|{{sb['sub_category_id']}}">{{sb['sub_category_name']}}</option>
                {% endif %}
                {% endfor %}
                
              </optgroup>
              {% endfor %}
              
            </select> 
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href='/company/products'><button type="button" class="btn btn-danger">Cancel</button> </a>
        </form>
      </div>
      
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>