{% include 'sidebar.html' %}
<html lang="en">
<head>
    <title>/company/products</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User Details</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/company.css') }}" >

<script>
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();
});
</script>
</head>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

<body>
    <div class="alert alert-{{alert_class}}" role="alert"> {{message}}</div>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href='/company/products'>Products</a></li>
        </ol>
      </nav>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2><b>Company Products</b></h2></div>
                    <div class="col-sm-4">
                        <a href="{{url_for('.company_add_product')}}">
                        <div class="product">
                            <button style="font-size:20px;color:Black">Add product <i class=""></i></button>
                             </a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td><img width="100" src="{{product.image}}" alt="product.image" /></td>
                        <td>{{product.created_date}}</td>
                        <td>{{product.updated_date}}</td>
                        <td>
                            <a href="{{url_for('company_blueprint.company_view_product',product_id=product.product_id)}}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                            <a href="{{url_for('company_blueprint.company_edit_product',product_id=product.product_id)}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a href="{{url_for('.company_delete_product',product_id=product.product_id)}}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          
    </div>  
</div> 
</main>  
</body>
</html>