<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
</head>
<body>
    <h1>Registration Page </h1>
    
    <form action="{{url_for('register')}}" method="post">
    <label for='username'>username:</label>
    <input type='text' id='username' name='username' placeholder='username'><br><br>
    <label for='password'>password:</label>
    <input type='text' id='password' name='password' placeholder='password'><br><br>
    <label for='mobile'>mobile:</label>
    <input type='integer' id='mobile' name='mobile' placeholder='mobile'><br><br>
    <button type="submit">Register</button>



</form>
</body>
</html> 