<!DOCTYPE html>
<html lang="en">

<head>
    <title>user list</title>
</head>
<body>
    <h1>List of users</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">user_id</th>
          <th scope="col">username</th>
          <th scope="col">password</th>
          <th scope="col">mobile</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          
          <th scope="row">1</th>
          <td>{{user.user_id}}</td>
          <td>{{user.username}}</td></td>
          <td>{{user.password}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <a href="{{url_for('user_blueprint.user_list',user_id=user_id,username=username),}}"></a>
</body>
</html>
